<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login to Sizzler</h1>
    <form action="/" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="passWord">password:</label>
            <input type="password" password="passWord" id="passWord">
        </div>
        <!-- <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div> -->
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
